/* TUTTO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Immagini/sfondo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Mantiene l'immagine fissa durante lo scroll */
}

/* HOME */
.wrapper {
    margin: 0 auto; /* Rimuove i margini della pagina */
    padding: 30px 40px;
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    transform: scale(1) translateZ(0);  /* Forza il rendering GPU */
    transform-origin: center; /* Assicura che l'elemento si ingrandisca dal centro */
    will-change: transform; /* Avvisa il browser di prepararsi per il cambio */
    transition: transform 0.6s ease; /* Transizione più lenta */
    margin-top: 80px;                 /* Sposta il wrapper sotto la barra */
}

.wrapper * {
    text-rendering: geometricPrecision; /* Migliora la nitidezza */
    -webkit-font-smoothing: antialiased; /* Disabilita il rendering liscio del font */
    -font-smoothing: antialiased;
}

.wrapper h1{
    font-size: 36 px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.wrapper:hover {
    transform: scale(1.1) translateZ(0); /* Ingrandisce il riquadro del 10% */
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box  input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.input-box #togglePassword {
    cursor: pointer;
    transition: color 0.3s;
}

.input-box #togglePassword:hover {
    color: #fff;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    color: #000000;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: background-color 0.3s;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.wrapper .btn:hover {
    background-color: #e6e6e6; /* Cambia colore del bottone al passaggio del mouse */
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.barraSuperiore {
    position: fixed;           /* Mantiene la barra fissa nella parte superiore */
    top: 0;                    /* Posizionata in alto */
    left: 0;                   /* Allineata al bordo sinistro */
    width: 100%;               /* Occupa tutta la larghezza della finestra */
    background-color: transparent  ; /* Colore di sfondo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1); /* Leggera ombra per effetto 3D */
    display: flex;             /* Layout a griglia flessibile */
    align-items: center;       /* Allinea elementi verticalmente */
    justify-content: space-between; /* Spazio tra logo e bottone */
    padding: 10px 20px;        /* Spazi interni */
    z-index: 1000;             /* Assicura che la barra rimanga sopra altri contenuti */
    backdrop-filter: blur(40px);
    height: 80px;              /* Imposta un'altezza fissa */
}

.barraSuperiore .btn-aboutUs {
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    color: white;              /* Colore del testo bianco */
    border: none;              /* Rimuove bordi */
    cursor: pointer;           /* Cambia il cursore al passaggio del mouse */
    text-decoration: none; /* Rimuove la sottolineatura */
    margin-left: 30px;
}

.barraSuperiore img {
    height: 60px;              /* Altezza fissa del logo */
    object-fit: contain;       /* Mantiene le proporzioni dell'immagine */
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.gruppo-text {
    position: absolute;        /* Posiziona l'elemento rispetto al suo contenitore */
    left: 50%;                 /* Posiziona l'elemento a metà larghezza */
    transform: translateX(-50%); /* Sposta indietro l'elemento di metà della sua larghezza */
    font-size: 25px;           /* Dimensione del testo */
    font-weight: bold;         /* Grassetto */
    color: #000000;          /* Colore del testo */
}

.about-us {
    margin-right: 20px;        /* Margine destro per distanziare */
}


/* ABOUT */
.wrapper2 {
    display: flex;
    justify-content: center; /* Centra il contenuto orizzontalmente */
    flex-direction:row; /* Dispone i contenuti in colonna */
    align-items: flex-start; /* Allinea le persone a sinistra */
    margin-top: 100px;
    padding: 10px;
}

.wrapper2 .contVert {
    padding: 10px;
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Allinea gli elementi verticalmente */
    align-items: center; /* Centra gli elementi orizzontalmente */
    justify-content: center; /* Centra gli elementi verticalmente (opzionale) */
}

.wrapper2 .contOrizz {
    display: flex; /* Usa Flexbox per disporre gli elementi orizzontalmente */
    gap: 10px; /* Spaziatura tra i div figli */
    justify-content: center; /* Centra gli elementi orizzontalmente */
    flex-wrap: wrap; /* Permetti che gli elementi vadano a capo se necessario */
    padding: 10px;
}

.wrapper2 .contVert .paragrafo {
    padding: 10px;
    text-align: center; /* Centra il testo nei paragrafi */
    width: 350px;
}

.wrapper2 .contVert .paragrafo .info {
    padding: 10px;
}

.wrapper2 .contVert .paragrafo img{
    height: auto; /* Regola la larghezza dell'immagine */
    width: 330px; /* Mantiene le proporzioni */
    border-radius: 10%; /* Aggiunge un effetto cerchio, opzionale */
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.wrapper2 .contVert h1 {
    text-align: center; /* Centra il testo */
    margin-bottom: 20px; /* Spaziatura tra l'h1 e il contenitore sottostante */
    font-size: 40px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.wrapper2 .contVert .contOrizz .paragrafo .info p {
    font-size: 22px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

/*REGISTRAZIONE*/

.wrapper .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: underline;
}


/*FORGOT_PASSWORD*/
/*CONFIRM_REG*/
/*OTP*/
/*RECOVERY_CRED*/
/*RECOVERY_OTP*/
.wrapper .intestazione {
    text-align: center;
}

.wrapper .intestazione h2 {
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
    font-size: 28px;
    font-weight: bold;    
    padding: 10px;
}

.wrapper .intestazione p {
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
    font-size: 20px;
    margin-top: 20px;
}


/*CARTELLA SANITARIA*/

.bodyCart {
    background-image: none; /* Rimuove la foto */
    background: url('Immagini/sfondo-ospedale.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Mantiene l'immagine fissa durante lo scroll */
}

.wrapper3 {
    margin: 0 auto; /* Centra il wrapper orizzontalmente */
    padding: 30px 40px;
    width: 1150px;
    background-color: #af9076;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    transform: scale(1) translateZ(0);  /* Forza il rendering GPU */
    transform-origin: center; /* Assicura che l'elemento si ingrandisca dal centro */
    will-change: transform; /* Avvisa il browser di prepararsi per il cambio */
    transition: transform 0.6s ease; /* Transizione più lenta */
    min-height: calc(100vh - 80px);   /* Altezza minima del wrapper = altezza viewport - barra superiore */
    margin-top: 100px;                 /* Sposta il wrapper sotto la barra */
}

.wrapper3 * {
    text-rendering: geometricPrecision; /* Migliora la nitidezza */
    -webkit-font-smoothing: antialiased; /* Disabilita il rendering liscio del font */
    -font-smoothing: antialiased;
}

.wrapper3 h1{
    font-size: 36 px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

.wrapper3 .gruppoSang, .wrapper3 .nome, .wrapper3 .cognome, .wrapper3 .sesso, .wrapper3 .nazionalità {
    display: flex;
    align-items: center; /* Allinea verticalmente al centro */
    gap: 20px; /* Spaziatura tra gli elementi */
}

.wrapper3 h2, .wrapper3 p, .wrapper3 li, .wrapper3 table {
    margin: 0;
    font-size: 24px;
}

.wrapper3 .gruppoSang, .wrapper3 .patologie, .wrapper3 .risultatiEsami, .wrapper3 .esamiPrenotati, .wrapper3 .nome, .wrapper3 .cognome, .wrapper3 .sesso, .wrapper3 .nazionalità {
    margin-top: 20px;
}

.wrapper3 .patologie li {
    margin-left: 20px;
}

.wrapper3 .risultatiEsami h2{
    text-align: left; /* H2 allineato a sinistra (predefinito) */
}

.wrapper3 .risultatiEsami table, .wrapper3 .esamiPrenotati table {
    width: 80%;
    margin: 0 auto; /* Centra la tabella orizzontalmente */
    border-collapse: collapse; /* Unisce i bordi delle celle */
    margin-top: 5px;
}

.wrapper3 .risultatiEsami .esame {
    width: 50%;
}

.wrapper3 .risultatiEsami .data, .wrapper3 .risultatiEsami .risultato {
    width: 25%;
}

.wrapper3 .risultatiEsami table, .wrapper3 .risultatiEsami th, .wrapper3 .risultatiEsami tr,  .wrapper3 .risultatiEsami td, .wrapper3 .esamiPrenotati table, .wrapper3 .esamiPrenotati th, .wrapper3 .esamiPrenotati tr,  .wrapper3 .esamiPrenotati td {
    border: 2px solid white;
    padding: 5px;
}

.wrapper3 .esamiPrenotati .esame {
    width: 50%;
}

.wrapper3 .esamiPrenotati .data {
    width: 50%;
}


/*PROFILO*/
.wrapper4 {
    margin: 0; /* Rimuove i margini della pagina */
    padding: 0; /* Rimuove il padding della pagina */
    width: 60%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    transform: scale(1) translateZ(0);  /* Forza il rendering GPU */
    transform-origin: center; /* Assicura che l'elemento si ingrandisca dal centro */
    will-change: transform; /* Avvisa il browser di prepararsi per il cambio */
    transition: transform 0.6s ease; /* Transizione più lenta */
}

.wrapper4 * {
    text-rendering: geometricPrecision; /* Migliora la nitidezza */
    -webkit-font-smoothing: antialiased; /* Disabilita il rendering liscio del font */
    -font-smoothing: antialiased;
}


.bx {
    cursor: pointer; /* Cambia il cursore per far sembrare l'icona cliccabile */
}