/* TUTTO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Immagini/sfondo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Mantiene l'immagine fissa durante lo scroll */
}

/* HOME */
.wrapper {
    margin: 0 auto; 
    padding: 30px 40px;
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 20px;
    transform: scale(1) translateZ(0);  /* Forza il rendering GPU */
    transform-origin: center; /* Assicura che l'elemento si ingrandisca dal centro */
    will-change: transform; /* Avvisa il browser di prepararsi per il cambio */
    transition: transform 0.6s ease; /* Transizione più lenta */
    margin-top: 90px;                 /* Sposta il wrapper sotto la barra */
    max-width: 70%;
}

.wrapper h1{
    font-size: 36 px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.wrapper:hover {
    transform: scale(1.1) translateZ(0); /* Ingrandisce il riquadro del 10% */
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box  input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.input-box #togglePassword {
    cursor: pointer;
    transition: color 0.3s;
}

.input-box #togglePassword:hover {
    color: #fff;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    color: #000000;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: background-color 0.3s;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.wrapper .btn:hover {
    background-color: #e6e6e6; 
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.topBar {
    position: fixed;           /* Mantiene la barra fissa nella parte superiore */
    top: 0;                    
    left: 0;                   
    width: 100%;               
    background-color: transparent  ; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    display: flex;             
    align-items: center;       /* Allinea elementi verticalmente */
    justify-content: space-between; /* Spazio tra logo e bottone */
    padding: 10px 20px;        
    z-index: 1000;             /* Assicura che la barra rimanga sopra altri contenuti */
    backdrop-filter: blur(40px);
    height: 80px;              
}

.topBar .btn-aboutUs {
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    color: white;              
    border: none;              
    cursor: pointer;          
    text-decoration: none;  /* Rimuove la sottolineatura */
    margin-left: 30px;
}

.topBar img {
    height: 60px;              
    object-fit: contain;       /* Mantiene le proporzioni dell'immagine */
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.gruppo-text {
    position: absolute;        /* Posiziona l'elemento rispetto al suo contenitore */
    left: 50%;                 
    transform: translateX(-50%); /* Sposta indietro l'elemento di metà della sua larghezza */
    font-size: 25px;           
    font-weight: bold;         
    color: #000000;          
}

.about-us {
    margin-right: 20px;        
    position: relative; 
    display: inline-block;
}


/* ABOUT */
.wrapper2 {
    display: flex;
    justify-content: center;    /* Centra il contenuto orizzontalmente */
    flex-direction:row;         /* Dispone i contenuti in colonna */
    align-items: flex-start;    
    margin-top: 100px;
    padding: 10px;
    max-width: 90%;
}

.wrapper2 .verticalWrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;     /* Allinea gli elementi verticalmente */
    align-items: center;        /* Centra gli elementi orizzontalmente */
    justify-content: center; 
}

.wrapper2 .orizzontalWrapper {
    display: flex; 
    gap: 10px;                  /* Spaziatura tra i div */
    justify-content: center;    /* Centra gli elementi orizzontalmente */
    flex-wrap: wrap;            /* Permetti che gli elementi vadano a capo se necessario */
    padding: 10px;
}

.wrapper2 .verticalWrapper .paragraph {
    padding: 10px;
    text-align: center; 
    width: 350px;
}

.wrapper2 .verticalWrapper .paragraph .info {
    padding: 10px;
}

.wrapper2 .verticalWrapper .paragraph img{
    height: auto; 
    width: 330px; 
    border-radius: 10%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.wrapper2 .verticalWrapper h1 {
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 40px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.wrapper2 .verticalWrapper .orizzontalWrapper .paragraph .info p {
    font-size: 22px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

/*REGISTRAZIONE*/

.wrapper .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.wrapper .login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .login-link p a:hover {
    text-decoration: underline;
}

.wrapper .input-box #togglePasswordRegister, .wrapper .input-box #toggleConfirmPasswordRegister {
    cursor: pointer; 
}

.input-box {
    position: relative; 
}

.wrapper .input-box #errorConfirmPassword, .wrapper .input-box #errorPassword {
    font-size: 0.9em;
    color: black;
    display: none;      /* Messaggi nascosti di default */
    position: absolute;
    top: 50%;  
    left: 105%;  
    transform: translateY(-50%);  /* Allinea verticalmente la nuvoletta al centro */
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: max-content;
    max-width: 230px; 
}

.wrapper .input-box #toggleRegisterPassword {
    cursor: pointer;
    transition: color 0.3s;
}

.wrapper .input-box #toggleRegisterPassword:hover {
    color: #fff;
}

.wrapper .input-box #toggleRegisterConfirmPassword {
    cursor: pointer;
    transition: color 0.3s;
}

.wrapper .input-box #toggleRegisterConfirmPassword:hover {
    color: #fff;
}

.wrapper .input-box #errorConfirmPassword.error-visible, .wrapper .input-box #errorPassword.error-visible {
    display: block;
}


/*FORGOT_PASSWORD*/
/*CONFIRM_REG*/
/*OTP*/
/*RECOVERY_CRED*/
/*RECOVERY_OTP*/
.wrapper .header {
    text-align: center;
}

.wrapper .header h2 {
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
    font-size: 28px;
    font-weight: bold;    
    padding: 10px;
}

.wrapper .header p {
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
    font-size: 20px;
    margin-top: 20px;
}


/* OTP */

.wrapper #otp-form .input-box input[type="number"]::-webkit-inner-spin-button,  /* Rimuove le freccette nei browser basati su WebKit (es. Chrome, Safari, Edge) */
.wrapper #otp-form .input-box input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wrapper #otp-form .input-box input[type="number"] {    /* Rimuove le freccette nei browser Firefox */
    -moz-appearance: textfield;
}

.wrapper #otp-form .input-box input[type="number"] {    /* Stile generico per il campo input (opzionale) */
    appearance: none;
}


/*CARTELLA SANITARIA*/

.bodyCart {
    background-image: none; /* Rimuove la foto */
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Per garantire che la pagina riempia almeno l'altezza dello schermo */
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    overflow-x: hidden; /* Evita scorrimento orizzontale */
    position: relative;
    background: -webkit-linear-gradient(top, #f8a3a3, #ff3535); /* Per Safari */
    background: linear-gradient(top, #f8a3a3, #ff3535); /* Standard */
    z-index: 3; 
}

.bodyCart .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
}

.bubble {   
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: float 15s infinite ease-in-out;
    opacity: 0.7;
}

.bubble:nth-child(1) {
    width: 30px;
    height: 30px;
    top: 100%;
    left: 5%;
    animation-duration: 12s;
    animation-delay: 1s;
}

.bubble:nth-child(2) {
    width: 40px;
    height: 40px;
    top: 100%;
    left: 15%;
    animation-duration: 14s;
    animation-delay: 3s;
}

.bubble:nth-child(3) {
    width: 50px;
    height: 50px;
    top: 100%;
    left: 80%;
    animation-duration: 10s;
    animation-delay: 2s;
}

.bubble:nth-child(4) {
    width: 60px;
    height: 60px;
    top: 100%;
    left: 95%;
    animation-duration: 18s;
    animation-delay: 0s;
}

.bubble:nth-child(5) {
    width: 20px;
    height: 20px;
    top: 100%;
    left: 50%;
    animation-duration: 9s;
    animation-delay: 4s;
}

.bubble:nth-child(6) {
    width: 25px;
    height: 25px;
    top: 100%;
    left: 90%;
    animation-duration: 13s;
    animation-delay: 5s;
}

.bubble:nth-child(7) {
    width: 100px;
    height: 100px;
    top: 100%;
    left: 5%;
    animation-duration: 20s;
    animation-delay: 0s;
}

.bubble:nth-child(8) {
    width: 60px;
    height: 60px;
    top: 100%;
    left: 85%;
    animation-duration: 8s;
    animation-delay: 8s;
}

@keyframes float {  
    0% {
        transform: translateY(0) translateX(0);
        opacity: 0.7;
    }
    100% {
        transform: translateY(-100vh) translateX(-20px); 
        opacity: 0.2;
    }
}

.wrapper3 {
    margin: 0 auto; 
    padding: 30px 40px;
    width: 1150px;
    max-width: 80%;
    min-width: 600px;
    background-color: #ffb6b69f;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    margin-top: 100px;                
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
}

.wrapper3 h1{
    font-size: 36 px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.topBar2 {
    position: fixed;           /* Mantiene la barra fissa nella parte superiore */
    top: 0;                    
    left: 0;                   
    width: 100%;              
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1); 
    display: flex;             /* Layout a griglia flessibile */
    align-items: center;       /* Allinea elementi verticalmente */
    justify-content: space-between; 
    padding: 10px;             
    z-index: 1000;             /* Assicura che la barra rimanga sopra altri contenuti */
    backdrop-filter: blur(40px);
    height: 80px;              
}

.topBar2 .btn-aboutUs {
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    color: black;              
    border: none;              
    cursor: pointer;           
    text-decoration: none; 
    margin-left: 30px;
}

.topBar2 img {
    height: 60px;              
    object-fit: contain;       
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.topBar2 i {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    font-size: 40px;
    transform: scale(1) translateZ(0);  /* Forza il rendering GPU */
    transform-origin: center;           /* Assicura che l'elemento si ingrandisca dal centro */
    will-change: transform;             /* Avvisa il browser di prepararsi per il cambio */
    transition: transform 0.6s ease; 
}

.topBar2 i:hover {
    cursor: pointer;
    transform: scale(1.2) translateZ(0); 
}

.dropdown-menu {
    position: absolute;
    top: 40px; 
    right: -20px; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; 
    z-index: 999;
    width: auto;
    min-width: 200px;
    max-width: 500px;
    border-radius: 5px;
    animation: slide-down 0.3s ease; /* Effetto scorrimento */
    padding: 10px;
    background-color: rgb(248, 199, 199);
}

.dropdown-menu a {
    cursor: pointer;
    color: black;
    margin-top: 10px;
}

.dropdown-menu div {
    margin-bottom: 10px;
}

.dropdown-menu .informations {
    margin-top: 10px;
}

.dropdown-menu a, .dropdown-menu div {
    font-size: 20px;
}

.dropdown-menu div:last-child {
    border-bottom: none; 
}

.about-us:hover .dropdown-menu {
    display: block;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.wrapper3 .diseases .first {
    margin-top: 5px;
}

.wrapper3 .bloodType, .wrapper3 .name, .wrapper3 .surname, .wrapper3 .sexuality, .wrapper3 .nationality, .wrapper3 .birthDate, .wrapper3 .fiscalCode {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.wrapper3 h2, .wrapper3 p, .wrapper3 li, .wrapper3 table {
    margin: 0;
    font-size: 24px;
}

.wrapper3 .bloodType, .wrapper3 .diseases, .wrapper3 .testResult, .wrapper3 .bookedText, .wrapper3 .name, .wrapper3 .surname, .wrapper3 .sexuality, .wrapper3 .nationality, .wrapper3 .birthDate, .wrapper3 .fiscalCode, .wrapper3 .carriedWorks, .wrapper3 .bookedWorks {
    margin-top: 20px;
}

.wrapper3 .diseases li {
    margin-left: 20px;
}

.wrapper3 .testResult h2{
    text-align: left; 
}

.wrapper3 .testResult table, .wrapper3 .bookedText table, .wrapper3 .carriedWorks table, .wrapper3 .bookedWorks table {
    width: 80%;
    margin: 0 auto; 
    border-collapse: collapse; 
    margin-top: 5px;
}

.wrapper3 .testResult .test, .wrapper3 .bookedText .test, .wrapper3 .bookedText .date, .wrapper3 .carriedWorks .work, .wrapper3 .bookedWorks .work {
    width: 50%;
}

.wrapper3 .testResult .date, .wrapper3 .testResult .result {
    width: 25%;
}

.wrapper3 .testResult table, .wrapper3 .testResult th, .wrapper3 .testResult tr,  .wrapper3 .testResult td, .wrapper3 .bookedText table, .wrapper3 .bookedText th, .wrapper3 .bookedText tr,  .wrapper3 .bookedText td, .wrapper3 .carriedWorks table, .wrapper3 .carriedWorks th, .wrapper3 .carriedWorks tr, .wrapper3 .carriedWorks td, .wrapper3 .bookedWorks table, .wrapper3 .bookedWorks th, .wrapper3 .bookedWorks td, .wrapper3 .bookedWorks tr {
    border: 2px solid black;
    padding: 5px;
}


/*PROFILO*/
.wrapper4 {
    margin: 0; 
    padding: 0; 
    width: 60%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 20px;
    padding: 30px 40px;
    transform: scale(1) translateZ(0);  /* Forza il rendering GPU */
    transform-origin: center;           /* Assicura che l'elemento si ingrandisca dal centro */
    will-change: transform;             /* Avvisa il browser di prepararsi per il cambio */
    transition: transform 0.6s ease; 
}   