/* TUTTO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Immagini/sfondo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Mantiene l'immagine fissa durante lo scroll */
}

/* HOME */
.wrapper {
    margin: 0 auto; /* Rimuove i margini della pagina */
    padding: 30px 40px;
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    transform: scale(1) translateZ(0);  /* Forza il rendering GPU */
    transform-origin: center; /* Assicura che l'elemento si ingrandisca dal centro */
    will-change: transform; /* Avvisa il browser di prepararsi per il cambio */
    transition: transform 0.6s ease; /* Transizione più lenta */
    margin-top: 90px;                 /* Sposta il wrapper sotto la barra */
    max-width: 70%;
}

.wrapper * {
    text-rendering: geometricPrecision; /* Migliora la nitidezza */
    -webkit-font-smoothing: antialiased; /* Disabilita il rendering liscio del font */
    -font-smoothing: antialiased;
}

.wrapper h1{
    font-size: 36 px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.wrapper:hover {
    transform: scale(1.1) translateZ(0); /* Ingrandisce il riquadro del 10% */
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box  input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.input-box #togglePassword {
    cursor: pointer;
    transition: color 0.3s;
}

.input-box #togglePassword:hover {
    color: #fff;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    color: #000000;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: background-color 0.3s;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.wrapper .btn:hover {
    background-color: #e6e6e6; /* Cambia colore del bottone al passaggio del mouse */
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.barraSuperiore {
    position: fixed;           /* Mantiene la barra fissa nella parte superiore */
    top: 0;                    /* Posizionata in alto */
    left: 0;                   /* Allineata al bordo sinistro */
    width: 100%;               /* Occupa tutta la larghezza della finestra */
    background-color: transparent  ; /* Colore di sfondo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1); /* Leggera ombra per effetto 3D */
    display: flex;             /* Layout a griglia flessibile */
    align-items: center;       /* Allinea elementi verticalmente */
    justify-content: space-between; /* Spazio tra logo e bottone */
    padding: 10px 20px;        /* Spazi interni */
    z-index: 1000;             /* Assicura che la barra rimanga sopra altri contenuti */
    backdrop-filter: blur(40px);
    height: 80px;              /* Imposta un'altezza fissa */
}

.barraSuperiore .btn-aboutUs {
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    color: white;              /* Colore del testo bianco */
    border: none;              /* Rimuove bordi */
    cursor: pointer;           /* Cambia il cursore al passaggio del mouse */
    text-decoration: none; /* Rimuove la sottolineatura */
    margin-left: 30px;
}

.barraSuperiore img {
    height: 60px;              /* Altezza fissa del logo */
    object-fit: contain;       /* Mantiene le proporzioni dell'immagine */
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.gruppo-text {
    position: absolute;        /* Posiziona l'elemento rispetto al suo contenitore */
    left: 50%;                 /* Posiziona l'elemento a metà larghezza */
    transform: translateX(-50%); /* Sposta indietro l'elemento di metà della sua larghezza */
    font-size: 25px;           /* Dimensione del testo */
    font-weight: bold;         /* Grassetto */
    color: #000000;          /* Colore del testo */
}

.about-us {
    margin-right: 20px;        /* Margine destro per distanziare */
}


/* ABOUT */
.wrapper2 {
    display: flex;
    justify-content: center; /* Centra il contenuto orizzontalmente */
    flex-direction:row; /* Dispone i contenuti in colonna */
    align-items: flex-start; /* Allinea le persone a sinistra */
    margin-top: 100px;
    padding: 10px;
    max-width: 90%;
}

.wrapper2 .contVert {
    padding: 10px;
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Allinea gli elementi verticalmente */
    align-items: center; /* Centra gli elementi orizzontalmente */
    justify-content: center; /* Centra gli elementi verticalmente (opzionale) */
}

.wrapper2 .contOrizz {
    display: flex; /* Usa Flexbox per disporre gli elementi orizzontalmente */
    gap: 10px; /* Spaziatura tra i div figli */
    justify-content: center; /* Centra gli elementi orizzontalmente */
    flex-wrap: wrap; /* Permetti che gli elementi vadano a capo se necessario */
    padding: 10px;
}

.wrapper2 .contVert .paragrafo {
    padding: 10px;
    text-align: center; /* Centra il testo nei paragrafi */
    width: 350px;
}

.wrapper2 .contVert .paragrafo .info {
    padding: 10px;
}

.wrapper2 .contVert .paragrafo img{
    height: auto; /* Regola la larghezza dell'immagine */
    width: 330px; /* Mantiene le proporzioni */
    border-radius: 10%; /* Aggiunge un effetto cerchio, opzionale */
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.wrapper2 .contVert h1 {
    text-align: center; /* Centra il testo */
    margin-bottom: 20px; /* Spaziatura tra l'h1 e il contenitore sottostante */
    font-size: 40px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

.wrapper2 .contVert .contOrizz .paragrafo .info p {
    font-size: 22px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
}

/*REGISTRAZIONE*/

.wrapper .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.wrapper .login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .login-link p a:hover {
    text-decoration: underline;
}

.wrapper .input-box #togglePasswordRegister, .wrapper .input-box #toggleConfirmPasswordRegister {
    cursor: pointer; /* Cambia il cursore per far sembrare l'icona cliccabile */
}

.input-box {
    position: relative; /* Necessario per posizionare il messaggio sopra il campo */
}

.wrapper .input-box #errorConfirmPassword, .wrapper .input-box #errorPassword {
    font-size: 0.9em;
    color: black;
    display: none; /* Messaggi nascosti di default */
    position: absolute;
    top: 50%;  /* Centra verticalmente rispetto al campo di input */
    left: 105%;  /* Posiziona la nuvoletta a destra rispetto al campo di input */
    transform: translateY(-50%);  /* Allinea verticalmente la nuvoletta al centro */
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: max-content;
    max-width: 230px; /* Limita la larghezza della nuvoletta */
}

/* Quando il messaggio è visibile */
.wrapper .input-box #errorConfirmPassword.error-visible, .wrapper .input-box #errorPassword.error-visible {
    display: block;
}

/* Aggiungiamo un bordo rosso al campo quando c'è un errore */
input:invalid {
    border-color: red;
}


/*FORGOT_PASSWORD*/
/*CONFIRM_REG*/
/*OTP*/
/*RECOVERY_CRED*/
/*RECOVERY_OTP*/
.wrapper .intestazione {
    text-align: center;
}

.wrapper .intestazione h2 {
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
    font-size: 28px;
    font-weight: bold;    
    padding: 10px;
}

.wrapper .intestazione p {
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
    font-size: 20px;
    margin-top: 20px;
}


/*CARTELLA SANITARIA*/

.bodyCart {
    background-image: none; /* Rimuove la foto */
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Per garantire che la pagina riempia almeno l'altezza dello schermo */
    display: flex;
    justify-content: center; /* Centra orizzontalmente il contenuto */
    align-items: flex-start; /* Allinea al top, così che si "appoggi" */
    overflow-x: hidden; /* Evita scorrimento orizzontale */
    position: relative;
    background: -webkit-linear-gradient(top, #f8a3a3, #ff3535); /* Per Safari */
    background: linear-gradient(top, #f8a3a3, #ff3535); /* Standard */
    z-index: 3; /* Lo sfondo rimane dietro */
}

.bodyCart .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Lo sfondo rimane dietro */
    overflow: hidden;
}

.bubble {   /* Bolle */
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: float 15s infinite ease-in-out;
    opacity: 0.7;
}

.bubble:nth-child(1) {
    width: 30px;
    height: 30px;
    top: 100%;
    left: 5%;
    animation-duration: 12s;
    animation-delay: 1s;
}

.bubble:nth-child(2) {
    width: 40px;
    height: 40px;
    top: 100%;
    left: 15%;
    animation-duration: 14s;
    animation-delay: 3s;
}

.bubble:nth-child(3) {
    width: 50px;
    height: 50px;
    top: 100%;
    left: 80%;
    animation-duration: 10s;
    animation-delay: 2s;
}

.bubble:nth-child(4) {
    width: 60px;
    height: 60px;
    top: 100%;
    left: 95%;
    animation-duration: 18s;
    animation-delay: 0s;
}

.bubble:nth-child(5) {
    width: 20px;
    height: 20px;
    top: 100%;
    left: 50%;
    animation-duration: 9s;
    animation-delay: 4s;
}

.bubble:nth-child(6) {
    width: 25px;
    height: 25px;
    top: 100%;
    left: 90%;
    animation-duration: 13s;
    animation-delay: 5s;
}

.bubble:nth-child(7) {
    width: 100px;
    height: 100px;
    top: 100%;
    left: 5%;
    animation-duration: 20s;
    animation-delay: 0s;
}

.bubble:nth-child(8) {
    width: 60px;
    height: 60px;
    top: 100%;
    left: 85%;
    animation-duration: 8s;
    animation-delay: 8s;
}

@keyframes float {  /* Animazione */
    0% {
        transform: translateY(0) translateX(0);
        opacity: 0.7;
    }
    100% {
        transform: translateY(-100vh) translateX(-20px); /* Ridotto da -50px */
        opacity: 0.2;
    }
}

.wrapper3 {
    margin: 0 auto; /* Centra il wrapper orizzontalmente */
    padding: 30px 40px;
    width: 1150px;
    max-width: 80%;
    background-color: lightgoldenrodyellow;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    margin-top: 100px;                 /* Sposta il wrapper sotto la barra */
    margin-bottom: 20px;
}

.wrapper3 h1{
    font-size: 36 px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2) ;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.barraSuperiore2 {
    position: fixed;           /* Mantiene la barra fissa nella parte superiore */
    top: 0;                    /* Posizionata in alto */
    left: 0;                   /* Allineata al bordo sinistro */
    width: 100%;               /* Occupa tutta la larghezza della finestra */
    background-color: white; /* Colore di sfondo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1); /* Leggera ombra per effetto 3D */
    display: flex;             /* Layout a griglia flessibile */
    align-items: center;       /* Allinea elementi verticalmente */
    justify-content: space-between; /* Spazio tra logo e bottone */
    padding: 10px;        /* Spazi interni */
    z-index: 1000;             /* Assicura che la barra rimanga sopra altri contenuti */
    backdrop-filter: blur(40px);
    height: 80px;              /* Imposta un'altezza fissa */
}

.barraSuperiore2 .btn-aboutUs {
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    color: black;              
    border: none;              /* Rimuove bordi */
    cursor: pointer;           /* Cambia il cursore al passaggio del mouse */
    text-decoration: none; /* Rimuove la sottolineatura */
    margin-left: 30px;
}

.barraSuperiore2 img {
    height: 60px;              /* Altezza fissa del logo */
    object-fit: contain;       /* Mantiene le proporzioni dell'immagine */
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.barraSuperiore2 i {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    font-size: 40px;
    transform: scale(1) translateZ(0);  /* Forza il rendering GPU */
    transform-origin: center; /* Assicura che l'elemento si ingrandisca dal centro */
    will-change: transform; /* Avvisa il browser di prepararsi per il cambio */
    transition: transform 0.6s ease; /* Transizione più lenta */
}

.barraSuperiore2 i* {
    text-rendering: geometricPrecision; /* Migliora la nitidezza */
    -webkit-font-smoothing: antialiased; /* Disabilita il rendering liscio del font */
    -font-smoothing: antialiased;
}

.barraSuperiore2 i:hover {
    cursor: pointer;
    transform: scale(1.2) translateZ(0); /* Ingrandisce il riquadro del 10% */
}

.wrapper3 .gruppoSang, .wrapper3 .nome, .wrapper3 .cognome, .wrapper3 .sesso, .wrapper3 .nazionalità, .wrapper3 .dataNascita, .wrapper3 .codiceFiscale {
    display: flex;
    align-items: center; /* Allinea verticalmente al centro */
    gap: 20px; /* Spaziatura tra gli elementi */
}

.wrapper3 h2, .wrapper3 p, .wrapper3 li, .wrapper3 table {
    margin: 0;
    font-size: 24px;
}

.wrapper3 .gruppoSang, .wrapper3 .patologie, .wrapper3 .risultatiEsami, .wrapper3 .esamiPrenotati, .wrapper3 .nome, .wrapper3 .cognome, .wrapper3 .sesso, .wrapper3 .nazionalità, .wrapper3 .dataNascita, .wrapper3 .codiceFiscale, .wrapper3 .interventiSubiti, .wrapper3 .interventiPrenotati {
    margin-top: 20px;
}

.wrapper3 .patologie li {
    margin-left: 20px;
}

.wrapper3 .risultatiEsami h2{
    text-align: left; /* H2 allineato a sinistra (predefinito) */
}

.wrapper3 .risultatiEsami table, .wrapper3 .esamiPrenotati table, .wrapper3 .interventiSubiti table, .wrapper3 .interventiPrenotati table {
    width: 80%;
    margin: 0 auto; /* Centra la tabella orizzontalmente */
    border-collapse: collapse; /* Unisce i bordi delle celle */
    margin-top: 5px;
}

.wrapper3 .risultatiEsami .esame, .wrapper3 .esamiPrenotati .esame, .wrapper3 .esamiPrenotati .data, .wrapper3 .interventiSubiti .intervento, .wrapper3 .interventiPrenotati .intervento {
    width: 50%;
}

.wrapper3 .risultatiEsami .data, .wrapper3 .risultatiEsami .risultato {
    width: 25%;
}

.wrapper3 .risultatiEsami table, .wrapper3 .risultatiEsami th, .wrapper3 .risultatiEsami tr,  .wrapper3 .risultatiEsami td, .wrapper3 .esamiPrenotati table, .wrapper3 .esamiPrenotati th, .wrapper3 .esamiPrenotati tr,  .wrapper3 .esamiPrenotati td, .wrapper3 .interventiSubiti table, .wrapper3 .interventiSubiti th, .wrapper3 .interventiSubiti tr, .wrapper3 .interventiSubiti td, .wrapper3 .interventiPrenotati table, .wrapper3 .interventiPrenotati th, .wrapper3 .interventiPrenotati td, .wrapper3 .interventiPrenotati tr {
    border: 2px solid black;
    padding: 5px;
}


/*PROFILO*/
.wrapper4 {
    margin: 0; /* Rimuove i margini della pagina */
    padding: 0; /* Rimuove il padding della pagina */
    width: 60%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    transform: scale(1) translateZ(0);  /* Forza il rendering GPU */
    transform-origin: center; /* Assicura che l'elemento si ingrandisca dal centro */
    will-change: transform; /* Avvisa il browser di prepararsi per il cambio */
    transition: transform 0.6s ease; /* Transizione più lenta */
}

.wrapper4 * {
    text-rendering: geometricPrecision; /* Migliora la nitidezza */
    -webkit-font-smoothing: antialiased; /* Disabilita il rendering liscio del font */
    -font-smoothing: antialiased;
}
